<h1>Arara</h1>
<p class="lead">São animais com hábitos que chamam a atenção. Elas gostam de voar em pares ou em grupo e nos fins de
  tarde, se reúnem em bandos em árvores “dormitório”. Dentre suas fontes de alimentação, estão as castanhas retiradas de
  cocos de duas espécies de palmeira: acuri e bocaiúva. No caso do acuri, aproveitam aqueles caídos no chão,
  ruminados pelo gado ou por animais silvestres.
  Já o coco da bocaiuva é colhido e comido diretamente no cacho.</p>
<p class="lead">
  <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
</p>