<div class="card-group ">
    <div class="card">
      <img src="public/img/huku.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-dark">Hugo-kun</h5>
        <p class="card-text text-dark">Um dos membros mais valorosos e virtuososdo do trabalho.</p>
    
      </div>
    </div>
    <div class="card">
      <img src="public/img/juansito.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-dark">Juan-kun</h5>
        <p class="card-text text-dark">Um cavalo</p>
        
      </div>
    </div>
    <div class="card">
      <img src="public/img/lukas.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-dark">Lukas o ordinário</h5>
        <p class="card-text text-dark">Jogando lol...</p>
        
      </div>
    </div>
  </div>